.navbar {
  padding: 10px 40px;
  background: #fff;
}

.nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.nav-link.active {
  color: red;
}

/* Bottom line */
.bg-warning {
  height: 4px;
}
