.navbar {
  padding: 10px 40px;
  background: linear-gradient(
    120deg,
    #f4f4f5,
     #f1edef,
    #f3f0f2
  );
}

.nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.nav-link.active {
  color: red;
}

/* Bottom line */
.bg-warning {
  height: 4px;
}
.bg-blue{
  background:#15025c;
  height: 4px;
}
.nav-item a{
  font-size: medium;
}