<nav class="navbar navbar-expand-lg bg-white px-4">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/footer.png" height="50" />
    </a>

    <!-- Hamburger button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-semibold" (click)="closeNavbar()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" (click)="closeNavbar()" routerLinkActive="active" routerLink="/about"
            >About</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" (click)="closeNavbar()" routerLinkActive="active" routerLink="/founder-message"
            >Founder's Message</a
          >
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link fw-semibold"   (click)="closeNavbar()" routerLinkActive="active" routerLink="/academics">अभ्यासक्रम</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link fw-semibold" (click)="closeNavbar()" routerLinkActive="active" routerLink="/management">
            Management
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" (click)="closeNavbar()" routerLinkActive="active" routerLink="/institutes">
            Institutes
          </a>
        </li>
         <li class="nav-item">
          <a class="nav-link fw-semibold" (click)="closeNavbar()" routerLinkActive="active" routerLink="/initiatives">
            Initiatives
          </a>
        </li>
         
         <li class="nav-item">
          <a class="nav-link fw-semibold" (click)="closeNavbar()" routerLinkActive="active" routerLink="/gallery">
            Gallery
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" (click)="closeNavbar()" routerLinkActive="active" routerLink="/contact">
            Contact Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-warning" style="height: 4px"></div>
