.founder-message-container {
  padding: 40px 20px;
  overflow: hidden;
}

/* Sliding text animation */
.sliding-text {
  display: inline-block;
  animation: slideAndBounce 6s ease-in-out infinite;
  padding: 20px;
}

@keyframes slideAndBounce {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  45% {
    transform: translateX(100px);
    opacity: 1;
  }
  50% {
    transform: translateX(100px);
    opacity: 0;
  }
  55% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.bg-founders{
    background-color: #FEA100;
}
.line-red{
	    width: 120px;
    height: 4px;
    background-color: #b70000;
    margin: 10px ;
}
.image-round{
    border-radius: 30px 110px 30px 110px;
}
.hrLine{
    height:3px; 
    border:none;
}